<h3 style="text-align: center;">Lug'atlar</h3>

<div class="container" style="display: flex; gap: 15px">
  {{#each dictionaries}}
  <div class="card" style="width: 18rem;">
    <img
      src="https://media.istockphoto.com/id/133313561/photo/book-and-glass-loupe.jpg?s=612x612&w=0&k=20&c=c_-XUrih631ObxQA5ODY5mql_1PqEgfpQJXbG-qODPY="
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">{{term}}</p>
    </div>
  </div>
{{/each}}
</div>